<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云博客</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <script src="{% static 'popper.min.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<header class="p-3 text-bg-light border-bottom mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="{% static 'image/niao.jpg' %}" alt="" height="45">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">首页</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">博客</a></li>
                <li><a href="#" class="nav-link px-2 text-secondary">文章</a></li>

            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control" placeholder="搜索..." aria-label="Search">
            </form>

            <div class="text-end">
                <button type="button" class="btn btn-outline-primary me-2">登入</button>
                <button type="button" class="btn btn-outline-primary">退出</button>
            </div>
        </div>
    </div>
</header>
<main class="container bg-white p-3 rounded-3">
    <h1>练习课堂</h1>
    <div class="row row-cols-2 row-gap-4">
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <a href="#">django项目练习</a>
                </div>
                <div class="card-body" style="height: 80px;">

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/ht.jpg' %}" alt="" height="30" class="rounded-5 border border-3">
                        巧红
                    </div>
                    <div>
                        发布时间： 2025年1月5日10:00 AM
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <div class="card-header">
                    <a href="#">django项目练习</a>
                </div>
                <div class="card-body" style="height: 80px;">

                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                </div>
                <div class="card-footer text-body-secondary d-flex justify-content-between">
                    <div>
                        <img src="{% static 'image/ht.jpg' %}" alt="" height="30" class="rounded-5 border border-3">
                        巧红
                    </div>
                    <div>
                        发布时间： 2025年1月5日10:00 AM
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
</body>
</html>